{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Register User</h1>
      <p>Get started by creating an account on our website and purchase medicines with us.</p>
    </div>
</div>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<form action='{{ url_for("register")}}' method="POST">
    <div class="form-group">
        <label for="firstname">First Name:</label>  <br>
        <input type="text" class="form-control"  id="firstname" name="fname" placeholder="first name.." style="width:304px;
  height:24px; 
  background:#f1f1f1;
  border:1px solid #d8d8d8;
  border-radius:4px;
  color:#000000; 
  padding-left:10px;border-radius: 0;
    font-size: 14px;">
    </div>
    
    <div class="form-group">
        <label for="lastname">Last Name:</label>  <br>
        <input type="text" class="form-control" id="lastname" name="lname" placeholder="last name.."style="width:304px;
  height:24px; 
  background:#f1f1f1;
  border:1px solid #d8d8d8;
  border-radius:4px;
  color:#000000; 
  padding-left:10px;border-radius: 0;
    font-size: 14px;">
    </div>
        
    <div class="form-group">
        <label for="email-add">Email:</label>  <br>
        <input type="email" class="form-control" id="email-add" name="email" placeholder="Email"style="width:304px;
  height:24px; 
  background:#f1f1f1;
  border:1px solid #d8d8d8;
  border-radius:4px;
  color:#000000; 
  padding-left:10px;border-radius: 0;
    font-size: 14px;">
    </div>
    
    <div class="form-group">
        <label for="password">Password:</label>  <br>
        <input type="password" class="form-control"  id="password" name="pwd"style="width:304px;
  height:24px; 
  background:#f1f1f1;
  border:1px solid #d8d8d8;
  border-radius:4px;
  color:#000000; 
  padding-left:10px;border-radius: 0;
    font-size: 14px;">
    </div>

    <div class="form-group">
        <label for="type">Category:</label>  <br>
        <select name="cat" id="category">
            <option value="seller">Seller</option>
            <option value="customer">Customer</option>
        </select>
    </div>
    
    <button class="btn btn-primary" type="submit"style="background: #7AA307 !important;
    color: #FFFFFF !important;cursor: pointer ">Register</button>
</form>


{%endblock%}